html, body, main, nav, div,
ul, li, a, img {
    border: 0;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
@font-face {
    font-family: "Baloo-da";
    src: url("BalooDa-Regular.ttf");
}
@font-face {
    font-family: "Baloo2";
    src: url("Baloo2-Regular.ttf");
}
main {
    background-image: radial-gradient(rgba(255, 255, 255, 0.796), rgba(255, 255, 255, 0.796)), url(fundo..jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    font-family: "Baloo-da";
}
.header-top {
    background-color: #a1b4ff;
    width: 100%;
    height: 180px;
    display: flex;
    flex-flow: row;
}
.header-logo img {
    width: 180px;
    height: 150px;
    margin-top: 20px;
    object-fit: cover;
}
.header-right {
    width: 85%;
    display: flex;
    flex-flow: column;
}
.header-row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.header-menu>ul>li>a{
    text-align: center;
    color: black;
}
.header-menu>ul>li {
    display: inline-block;
    margin-top: 50px;
    margin-right: 70px;
    position: relative;
    padding-bottom: 1rem;
}
.submenu {
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    padding: 2rem;
    background-color: #a1b4ff;
}
.submenu li {
    width: 100%;
    display: block;
}
.submenu a {
    color: black;
}
.dropdown:hover .submenu {
    display: block;
}
.input-search {
    width: 1025px;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
    text-align: left;
    border: 2px solid black;
}
.botao-entrar {
    background-color: #ffa9de;
    color: white;
    padding: 14px 28px;
    border-radius: 12px;
    margin: 10px;
    transition-duration: 1s;
}
.botao-entrar:hover {
    background-color: #ffc3c3;
    transition-duration: 1s;
}
.botao-cadastrar {
    background-color: #ffa9de;
    color: white;
    padding: 14px 28px;
    border-radius: 12px;
    margin: 10px;
}
.botao-cadastrar:hover {
    background-color: #ffc3c3;
    transition-duration: 1s;
}
.btn {
    background-color: rgb(225, 225, 225);
    padding: 10px 20px;
    border-radius: 12px;
    margin: 30px;
    width: 180px;
    transition-duration: 1s;
}
.btn:hover {
    background-color: rgb(188, 188, 188);
    transition-duration: 1s;
}
.btn a {
    color: black;
    float: right;
    margin-top: 25px;
    font-size: 18px;
    font-family: "Baloo2";
}
.box-zona {
    display: flex;
    justify-content: center;
    align-items: center;
}
.box {
    width: 38%;
}
.box-titulo {
    font-family: "Baloo-Da";
    font-size: 20px;
}
.box-texto {
    font-family: "Baloo2";
}
.box-img {
    position: absolute;
    width: 245px;
    left: 1274px;
    top: 180px;

}